# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Rust
src-tauri/target/

# Environment
.env
.env.local
*.local

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
Desktop.ini
